
.OneFacility{
    width: 65%;
    margin: 0 auto ;
}
.OneFacility p,h1,h2,h3{
    color:black;
}

.OneFacility .smallIMG{
    width: 60px;
    height: 60px;
} 

.OneFacility .mainIMG{
    width: 350px;
    height: 300px;
}