/* Select NavBar Page */
.NavBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: bold;
  
}

.NavBar .frist-row {
  display: flex;
  width: 100%;
  background-color: #1b1d22;
  align-items: center;
  /* flex-wrap: wrap; */
  height: 40px;
}

 /* @media only screen and (max-width: 1400px) {
    .NavBar .frist-row{
        font-size: 1.3em;
    }

    /* body{
        font-size: 0.7em;
    }
    h1{
        font-size: 2em;
    }  
} */



.NavBar .frist-row .menu-element {
  margin: 20px;
  min-width: 200px;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8em;
}

.NavBar .frist-row .logo {
  margin: 0 10% 0 5%;
  background-image: url('../imges/lammah-logo-eng.png');
  width: 160px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  
}

.NavBar .sec-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #2a2f35;
  max-height: 5vh;
}

.NavBar .sec-row .menu-element {
    color: #ffffff;
    font-size: 0.7em;

}
/* 
@media only screen and (max-width: 500px) {
    .NavBar{
        font-size: 5.5px;
    }
    body{
        font-size: 0.7em;
    }
    h1{
        font-size: 2em;
    }
} */
