/* Select NavBar Page */
.NavBar{
    margin-top: 10px;
    position: static;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    color: black;
    border-bottom: 2px solid black;
}


/*  NavBar Items */
/* ========================= */
.NavBar .logo,.NavBar .menu a{
    cursor: pointer;

}
.NavBar .logo{
    margin-left: 10%;
}
.NavBar .menu{
margin-left: 10%;
display: flex;
width: 100%;

}


.NavBar .menu a:hover{
border-bottom: 2px solid #000000;
}
/* ========================= */
/* ========================= */


.NavBar .menu-element{
    text-decoration: none;
    color: black;
    margin-left: 10%;
}
